<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, necessitatibus esse atque sint libero officia animi molestias! Praesentium optio quas eum molestias? Totam quae ex laboriosam non suscipit, laborum voluptatem.</p>
</footer>