<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/layout.css"> -->
    <%- style %>
</head>
<body>
    <header>
        
        Page Header

        <ul>
            <% if(locals.user){ %>

                <li><%= user.name %></li>
                <li><a href="/users/sign-out">Sign Out</a></li>
            <% }else{ %>   
                <li><a href="/users/sign-in">Sign in</a></li>
                <li><a href="/users/sign-up">Sign up</a></li>
            <% } %>
        </ul>

    </header>

<%- body %>

    <footer></footer>

<%- script %>
</body>
</html>