<link rel="stylesheet" href="/css/users.css">
<form action="/users/create" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Your Name">

    <label for="email">Username:</label>
    <input type="text" id="email" name="email" placeholder="Your Email">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your Password">

    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm password">

    <input type="submit" value="Submit">
</form>